Repository BellSoftNetwork/ResortManagementSystem: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies:api-core, test:api-core, build:api-core, dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:api-core:development, deploy:api-core:staging, deploy:frontend-web:development, deploy:frontend-web:staging

dependencies:api-core:
  stage: dependencies
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/golang:1.24-alpine
  variables:
    CGO_ENABLED: '0'
    GOOS: linux
    GOARCH: amd64
    GOCACHE: /builds/resort-assistant/resort-management-system/.cache/go-mod
  before_script:
  - apk add --no-cache git
  - cd apps/api-core
  script:
  ...

test:api-core:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/golang:1.24-alpine
  variables:
    CGO_ENABLED: '1'
    GOOS: linux
    GOARCH: amd64
    GOCACHE: /builds/resort-assistant/resort-management-system/.cache/go-mod
    JWT_SECRET: test-secret-key
    API_PROFILE: test
  needs:
  ...

build:api-core:
  variables:
    IMAGE_REGISTRY: $API_CORE_IMAGE
  script:
  - echo "Building api-core Docker image..."
  - cd apps/api-core
  - '# GitLab CI ì‚¬ì „ ì •ì˜ ë³€ìˆ˜ ì‚¬ìš© (ë¸Œëžœì¹˜ëª… ì •ê·œí™”)
  
    BRANCH_NAME=$(echo "$CI_COMMIT_REF_SLUG" | sed ''s/\//-/g'')
  
  
    # ì´ë¯¸ì§€ íƒœê·¸ ìƒì„±
  
  ...

dependencies:frontend-web:
  stage: dependencies
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:$NODE_VERSION-alpine
  before_script:
  - cd apps/frontend-web
  script:
  - echo "Checking Node.js dependencies cache..."
  ...

test:frontend-web:
  variables:
    NODE_ENV: test
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:$NODE_VERSION-alpine
  needs:
  - job: dependencies:frontend-web
    optional: true
  before_script:
  - cd apps/frontend-web
  - yarn install --frozen-lockfile
  script:
  - echo "Running frontend-web tests..."
  ...

build:frontend-web:
  variables:
    IMAGE_REGISTRY: $FRONTEND_IMAGE
  script:
  - echo "Building frontend-web Docker image..."
  - cd apps/frontend-web
  - '# GitLab CI ì‚¬ì „ ì •ì˜ ë³€ìˆ˜ ì‚¬ìš© (ë¸Œëžœì¹˜ëª… ì •ê·œí™”)
  
    BRANCH_NAME=$(echo "$CI_COMMIT_REF_SLUG" | sed ''s/\//-/g'')
  
  
    # ì´ë¯¸ì§€ íƒœê·¸ ìƒì„±
  
  ...

deploy:api-core:development:
  stage: deploy
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine/k8s:1.33.4
  before_script:
  - 'echo "üîß Verifying GitOps tools..."
  
    git --version
  
    kubectl version --client
  
    kustomize version
  
    jq --version
  
    yq --version
  
    '
  script:
  ...

deploy:api-core:staging:
  stage: deploy
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine/k8s:1.33.4
  before_script:
  - 'echo "üîß Verifying GitOps tools..."
  
    git --version
  
    kubectl version --client
  
    kustomize version
  
    jq --version
  
    yq --version
  
    '
  script:
  ...

deploy:frontend-web:development:
  stage: deploy
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine/k8s:1.33.4
  before_script:
  - 'echo "üîß Verifying GitOps tools..."
  
    git --version
  
    kubectl version --client
  
    kustomize version
  
    jq --version
  
    yq --version
  
    '
  script:
  ...

[Frontend] 예약 연락처에 tel: 링크 추가
  apps/frontend-web/eslint.config.js
  apps/frontend-web/quasar.config.js
  apps/frontend-web/src/components/reservation/ReservationEditor.vue
  apps/frontend-web/src/components/reservation/ReservationListDynamicTable.vue
  apps/frontend-web/src/pages/room/RoomStatus.vue
  apps/frontend-web/src/schema/response.ts
  apps/frontend-web/src/schema/user.ts
  apps/frontend-web/src/stores/auth.ts
  apps/frontend-web/src/stores/store-flag.d.ts
  apps/frontend-web/src/types/map.d.ts
  apps/frontend-web/src/util/data-util.ts
  apps/frontend-web/src/util/format-util.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(frontend): 객실 그룹 삭제 다이얼로그 이름 바인딩 수정 #125
  apps/frontend-web/src/components/room-group/RoomGroupDetailCard.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(frontend): 객실 현황 페이지 UTC 날짜 버그 수정 #102
  apps/frontend-web/src/pages/room/RoomStatus.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(frontend): 백엔드 다운 시 불필요한 로그아웃 방지 #124
  apps/frontend-web/src/api/services/AuthInterceptorService.ts
  apps/frontend-web/src/stores/auth.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(api-core): 빈 이메일 중복 가입 오류 수정 #88
  apps/api-core/internal/handlers/auth_handler.go
  apps/api-core/internal/handlers/reservation_handler.go
  apps/api-core/internal/handlers/room_group_handler.go
  apps/api-core/internal/handlers/room_handler.go
  apps/api-core/internal/handlers/user_handler.go
  apps/api-core/internal/models/user.go
  apps/api-core/internal/services/auth_service.go
  apps/api-core/internal/services/auth_service_test.go
  apps/api-core/internal/services/history_service.go
  apps/api-core/internal/services/login_attempt_service_test.go
  apps/api-core/internal/services/user_service.go
  apps/api-core/internal/services/user_service_test.go
  apps/api-core/internal/utils/string.go
Due: dependencies:api-core, test:api-core, build:api-core, deploy:api-core:development, deploy:api-core:staging

feat(frontend): 백엔드 서버 다운 시 사용자 친화적 오류 UI 표시 (#51)
  apps/frontend-web/quasar.config.js
  apps/frontend-web/src/App.vue
  apps/frontend-web/src/api/constants.ts
  apps/frontend-web/src/api/services/NetworkStatusService.ts
  apps/frontend-web/src/api/services/NotificationService.ts
  apps/frontend-web/src/api/services/RetryService.ts
  apps/frontend-web/src/boot/axios.ts
  apps/frontend-web/src/boot/network-events.ts
  apps/frontend-web/src/components/auth/LoginCard.vue
  apps/frontend-web/src/components/common/ServerError.vue
  apps/frontend-web/src/stores/network.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(frontend): 백엔드 다운 시 빈 토스트 메시지 문제 해결 #129
  apps/frontend-web/src/components/account/AccountCreateDialog.vue
  apps/frontend-web/src/components/account/AccountEditDialog.vue
  apps/frontend-web/src/components/account/AccountListDynamicTable.vue
  apps/frontend-web/src/components/auth/LogoutDialog.vue
  apps/frontend-web/src/components/auth/RegisterCard.vue
  apps/frontend-web/src/components/my/MyDetailCard.vue
  apps/frontend-web/src/components/payment-method/PaymentMethodCreateDialog.vue
  apps/frontend-web/src/components/payment-method/PaymentMethodListDynamicTable.vue
  apps/frontend-web/src/components/reservation/ReservationEditor.vue
  apps/frontend-web/src/components/reservation/ReservationListDynamicTable.vue
  apps/frontend-web/src/components/room-group/RoomGroupCreateCard.vue
  apps/frontend-web/src/components/room-group/RoomGroupDetailCard.vue
  apps/frontend-web/src/components/room-group/RoomGroupEditCard.vue
  apps/frontend-web/src/components/room-group/RoomGroupListDynamicTable.vue
  apps/frontend-web/src/components/room/RoomCreateCard.vue
  apps/frontend-web/src/components/room/RoomDetailCard.vue
  apps/frontend-web/src/components/room/RoomEditCard.vue
  apps/frontend-web/src/components/room/RoomListDynamicTable.vue
  apps/frontend-web/src/util/errorHandler.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

feat: Frontend 테스트 인프라 구축 및 대용량 파일 분할 리팩토링 (#130, #131)
  apps/api-core/internal/handlers/reservation_handler.go
  apps/api-core/internal/handlers/reservation_handler_helpers.go
  apps/api-core/internal/handlers/room_group_handler.go
  apps/api-core/internal/handlers/room_group_handler_helpers.go
  apps/frontend-web/package.json
  apps/frontend-web/src/components/dashboard/ReservationCalendar.vue
  apps/frontend-web/src/components/dashboard/ReservationDayTable.vue
  apps/frontend-web/src/components/dashboard/ReservationSummary.vue
  apps/frontend-web/src/components/reservation/ReservationEditor.vue
  apps/frontend-web/src/components/reservation/ReservationFilterDialog.vue
  apps/frontend-web/src/components/reservation/ReservationGuestInfo.vue
  apps/frontend-web/src/components/reservation/ReservationListDynamicTable.vue
  apps/frontend-web/src/components/reservation/ReservationPaymentInfo.vue
  apps/frontend-web/src/composables/__tests__/useTable.test.ts
  apps/frontend-web/src/composables/useReservationCalendar.ts
  apps/frontend-web/src/composables/useStatsData.ts
  apps/frontend-web/src/pages/stats/StatsPage.vue
  apps/frontend-web/src/stores/__tests__/reservation.test.ts
  apps/frontend-web/src/stores/__tests__/room.test.ts
  apps/frontend-web/src/stores/__tests__/roomGroup.test.ts
  apps/frontend-web/src/util/__tests__/date-preset-util.test.ts
  apps/frontend-web/test/vitest/helpers.ts
  apps/frontend-web/test/vitest/setup.ts
  apps/frontend-web/vitest.config.ts
  apps/frontend-web/yarn.lock
Due: dependencies:api-core, test:api-core, build:api-core, dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:api-core:development, deploy:api-core:staging, deploy:frontend-web:development, deploy:frontend-web:staging

fix(frontend): 백엔드 다운 시 retry limit에서 불필요한 로그아웃 방지 #124
  apps/frontend-web/src/api/services/AuthInterceptorService.ts
  apps/frontend-web/src/stores/auth.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

feat(api-core): add reset type to development data API
  apps/api-core/internal/dto/development.go
  apps/api-core/internal/handlers/development_handler.go
  apps/api-core/internal/services/development_service.go
Due: dependencies:api-core, test:api-core, build:api-core, deploy:api-core:development, deploy:api-core:staging

fix(frontend): remove unused variables and fix formatting
  apps/frontend-web/src/components/dashboard/ReservationCalendar.vue
  apps/frontend-web/src/components/dashboard/ReservationSummary.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

feat(frontend): redirect to original page after login
  apps/frontend-web/src/components/auth/LoginCard.vue
  apps/frontend-web/src/router/guards/authenticate-guard.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

feat(frontend): 통계 페이지에서 부대시설 제외 필터링 구현 #112
  apps/frontend-web/src/pages/stats/StatsPage.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

feat(frontend): add check-in/unassigned filters to room status
  apps/frontend-web/src/pages/room/RoomStatus.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

feat(frontend): add commission and deposit statistics
  apps/frontend-web/src/pages/stats/StatsPage.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

test(frontend): add Playwright E2E infrastructure
  apps/frontend-web/.gitignore
  apps/frontend-web/e2e/fixtures/auth.fixture.ts
  apps/frontend-web/e2e/smoke.spec.ts
  apps/frontend-web/package.json
  apps/frontend-web/playwright.config.ts
  apps/frontend-web/yarn.lock
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

test(frontend): add authentication E2E tests
  apps/frontend-web/e2e/auth.spec.ts
  apps/frontend-web/e2e/fixtures/auth.fixture.ts
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(frontend): price 필드 Number() 변환 추가하여 타입 불일치 해결
  apps/frontend-web/src/components/reservation/ReservationPaymentInfo.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

test(api-core): CreateReservation JSON 바인딩 타입 검증 테스트 추가
  apps/api-core/internal/dto/reservation_test.go
Due: dependencies:api-core, test:api-core, build:api-core, deploy:api-core:development, deploy:api-core:staging

test(frontend): add Playwright E2E infrastructure and comprehensive tests
  apps/frontend-web/e2e/admin.spec.ts
  apps/frontend-web/e2e/misc.spec.ts
  apps/frontend-web/e2e/monthly-rent.spec.ts
  apps/frontend-web/e2e/reservation.spec.ts
  apps/frontend-web/e2e/room-group.spec.ts
  apps/frontend-web/e2e/room.spec.ts
  apps/frontend-web/src/composables/__tests__/useReservationCalendar.test.ts
  apps/frontend-web/src/composables/__tests__/useStatsData.test.ts
  apps/frontend-web/src/stores/__tests__/auth.test.ts
  apps/frontend-web/src/stores/__tests__/network.test.ts
  apps/frontend-web/src/util/__tests__/errorHandler.test.ts
  apps/frontend-web/src/util/__tests__/format-util.test.ts
  apps/frontend-web/src/util/__tests__/query-string-util.test.ts
  docs/testing/e2e-checklist.md
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix: 감사 로그 빈 목록 null 반환 및 결제 수단 허위 변경 감지 수정
  apps/api-core/internal/audit/hooks.go
  apps/api-core/internal/audit/hooks_test.go
  apps/api-core/internal/handlers/audit_handler.go
  apps/api-core/internal/migrations/006_cleanup_false_payment_method_audit_logs.go
  apps/api-core/internal/migrations/migrations.go
  apps/api-core/pkg/response/response.go
  apps/frontend-web/src/composables/useTable.ts
Due: dependencies:api-core, test:api-core, build:api-core, dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:api-core:development, deploy:api-core:staging, deploy:frontend-web:development, deploy:frontend-web:staging

예약 마감 기능 고도화 및 감사로그/변경 이력 표시 개선
  apps/api-core/cmd/server/main.go
  apps/api-core/internal/dto/date_block.go
  apps/api-core/internal/dto/revision.go
  apps/api-core/internal/handlers/date_block_handler.go
  apps/api-core/internal/handlers/reservation_handler.go
  apps/api-core/internal/handlers/room_handler_test.go
  apps/api-core/internal/mappers/date_block_mapper.go
  apps/api-core/internal/migrations/007_add_date_blocks.go
  apps/api-core/internal/migrations/migrations.go
  apps/api-core/internal/models/date_block.go
  apps/api-core/internal/repositories/date_block_repository.go
  apps/api-core/internal/services/date_block_service.go
  apps/api-core/internal/services/date_block_service_test.go
  apps/api-core/internal/services/history_service.go
  apps/api-core/internal/services/reservation_service.go
  apps/api-core/internal/services/reservation_service_date_block_test.go
  apps/frontend-web/src/api/v1/date-block.ts
  apps/frontend-web/src/components/admin/AuditLogListDynamicTable.vue
  apps/frontend-web/src/components/dashboard/DateBlockCreateDialog.vue
  apps/frontend-web/src/components/dashboard/DateBlockHistoryDialog.vue
  apps/frontend-web/src/components/dashboard/ReservationCalendar.vue
  apps/frontend-web/src/components/dashboard/ReservationDayTable.vue
  apps/frontend-web/src/components/dashboard/ReservationSummary.vue
  apps/frontend-web/src/components/date-block/DateBlockEditDialog.vue
  apps/frontend-web/src/components/date-block/DateBlockListDynamicTable.vue
  apps/frontend-web/src/composables/useReservationCalendar.ts
  apps/frontend-web/src/pages/date-block/DateBlockList.vue
  apps/frontend-web/src/router/routes.ts
  apps/frontend-web/src/schema/date-block.ts
  apps/frontend-web/src/stores/date-block.ts
  apps/frontend-web/src/stores/menu.ts
Due: dependencies:api-core, test:api-core, build:api-core, dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:api-core:development, deploy:api-core:staging, deploy:frontend-web:development, deploy:frontend-web:staging

improve(frontend): #134 예약 대시보드 달력 날짜 클릭 시 하단 예약 테이블 즉시 전환
  apps/frontend-web/src/components/dashboard/ReservationCalendar.vue
  apps/frontend-web/src/components/dashboard/ReservationSummary.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

fix(calendar): 프로덕션 빌드에서 달력 pointer-events CSS 미작동 수정
  apps/frontend-web/src/components/dashboard/ReservationCalendar.vue
Due: dependencies:frontend-web, test:frontend-web, build:frontend-web, deploy:frontend-web:development, deploy:frontend-web:staging

docs(specs): update api-response-compat status to completed
  specs/README.md
Due: none

feat(.gitlab): 이슈/MR 템플릿 추가
  .gitlab/issue_templates/버그.md
  .gitlab/merge_request_templates/default.md
Due: none

Path conditions:
  dependencies:api-core: any of: apps/api-core/go.mod, apps/api-core/go.sum, apps/api-core/**/*, .gitlab-ci.yml, .gitlab/ci/apps/api-core.gitlab-ci.yaml
  test:api-core: any of: apps/api-core/**/*, .gitlab-ci.yml, .gitlab/ci/apps/api-core.gitlab-ci.yaml
  build:api-core: any of: apps/api-core/**/*, .gitlab-ci.yml, .gitlab/ci/apps/api-core.gitlab-ci.yaml
  dependencies:frontend-web: any of: apps/frontend-web/package.json, apps/frontend-web/yarn.lock, apps/frontend-web/**/*, .gitlab-ci.yml, .gitlab/ci/apps/frontend-web.gitlab-ci.yaml
  test:frontend-web: any of: apps/frontend-web/**/*, .gitlab-ci.yml, .gitlab/ci/apps/frontend-web.gitlab-ci.yaml
  build:frontend-web: any of: apps/frontend-web/**/*, .gitlab-ci.yml, .gitlab/ci/apps/frontend-web.gitlab-ci.yaml
  deploy:api-core:development: any of: apps/api-core/**/*, .gitlab-ci.yml, .gitlab/ci/apps/api-core.gitlab-ci.yaml
  deploy:api-core:staging: any of: apps/api-core/**/*, .gitlab-ci.yml, .gitlab/ci/apps/api-core.gitlab-ci.yaml
  deploy:frontend-web:development: any of: apps/frontend-web/**/*, .gitlab-ci.yml, .gitlab/ci/apps/frontend-web.gitlab-ci.yaml
  deploy:frontend-web:staging: any of: apps/frontend-web/**/*, .gitlab-ci.yml, .gitlab/ci/apps/frontend-web.gitlab-ci.yaml
